<a href="https://colab.research.google.com/github/danish9491/PW-Skills-Data-Science-Masters/blob/Python/Conditionals.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [5]:
marks = int(input("Enter your marks: "))
if marks >= 80:
    print("you will be a part of A0 batch")
elif marks >= 60 and marks < 80: # 60>= marks <80
    print("you will be a part of A1 batch")
elif marks >=40 and marks < 60 :
    print("you will be a part of A2 batch ")
else :
    print("you will be a part of A3 batch ")

Enter your marks: 90
you will be a part of A0 batch

In [6]:
10 >= 80

False

In [7]:
marks = int(input("Enter your marks: "))

Enter your marks: 34

In [8]:
marks

34

In [9]:
type(marks)

int

In [13]:
price = int(input("Enter the price: "))
if price > 1000:
    print("I will not purchase")
    if price > 5000:
        print("This is too much")
    elif price < 2000:
        print("Its ok")
else :
    print("I will purchase")

Enter the price: 1500
I will not purchase
Its ok

In [14]:
l = [1,2,3,4,5,6,7,8]

In [15]:
l[0]

1

In [16]:
l[0]+1

2

In [17]:
type(l)

list

In [18]:
l

[1, 2, 3, 4, 5, 6, 7, 8]

In [30]:
l1 = []
for i in l:
  print(i)
  l1.append(i+1)
l1

1
2
3
4
5
6
7
8

[2, 3, 4, 5, 6, 7, 8, 9]

In [31]:
l = ["danish", "ansari", "pwskills", "course"]

In [34]:
type(l)

list

In [35]:
l

['danish', 'ansari', 'pwskills', 'course']

In [36]:
for i in l :
  print(i)

danish
ansari
pwskills
course

In [37]:
l[0]

'danish'

In [40]:
l1 =[]
for i in l :
  print(i)
  l1.append(i.upper())

danish
ansari
pwskills
course

In [41]:
l1

['DANISH', 'ANSARI', 'PWSKILLS', 'COURSE']

In [3]:
l = [ 1,2,3,4,4,"danish", "ansari", 324, 34,456, "abc"]

In [4]:
l1_num = []
l2_str = []
for i in l :
  if type(i) == int or type(i) == float :
    l1_num.append(i)
  else :
    l2_str.append(i)

# New Section